# This config file defines the steps for building and deploying the Ampstart
# codebase with MetaLab's Firebase account.
#
# Need to edit this file? Check
# https://circleci.com/docs/2.0/language-javascript/ for documentation.
#
# When sending a pull request to Ampstart, DO NOT INCLUDE THIS FILE!

version: 2
jobs:
  build:
    docker:
      - image: circleci/node:7.0.0

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: npm install

      # Get the firebase tools as a dev dependency
      - run: npm install --save-dev firebase-tools

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # Build the project
      - run: npm run build

      # Deploy the project via Firebase
      - run: firebase deploy --token "$FIREBASE_TOKEN"
