{{#icon}}
  {{#boat}}
    {{> ./boat.snip.html}}
  {{/boat}}
  {{#bus}}
    {{> ./bus.snip.html}}
  {{/bus}}
  {{#calendar}}
    {{> ./calendar.snip.html}}
  {{/calendar}}
  {{#cocktail}}
    {{> ./cocktail.snip.html}}
  {{/cocktail}}
  {{#cutlery}}
    {{> ./cutlery.snip.html}}
  {{/cutlery}}
  {{#guitar}}
    {{> ./guitar.snip.html}}
  {{/guitar}}
  {{#heart}}
    {{> ./heart.snip.html}}
  {{/heart}}
  {{#jacket}}
    {{> ./jacket.snip.html}}
  {{/jacket}}
  {{#logo}}
    {{> ./logo.snip.html}}
  {{/logo}}
  {{#map-pin-outline}}
    {{> ./map-pin-outline.snip.html}}
  {{/map-pin-outline}}
  {{#map-pin}}
    {{> ./map-pin.snip.html}}
  {{/map-pin}}
  {{#menu}}
    {{> ./menu.snip.html}}
  {{/menu}}
  {{#moon}}
    {{> ./moon.snip.html}}
  {{/moon}}
  {{#paintbrush}}
    {{> ./paintbrush.snip.html}}
  {{/paintbrush}}
  {{#pine}}
    {{> ./pine.snip.html}}
  {{/pine}}
  {{#plane-landing}}
    {{> ./plane-landing.snip.html}}
  {{/plane-landing}}
  {{#plane-taking-off}}
    {{> ./plane-taking-off.snip.html}}
  {{/plane-taking-off}}
  {{#run}}
    {{> ./run.snip.html}}
  {{/run}}
  {{#star}}
    {{> ./star.snip.html}}
  {{/star}}
{{/icon}}
